{% extends 'base.html.twig' %}

{% block body %}
    <h2>{{ 'registration.sub_title'|trans }}</h2>

    <div>
        <div class="status initial">
            {{ 'status.registration_initial'|trans }}
        </div>
        {% include 'default/general_status.twig' %}
    </div>

    {% block javascripts %}
        <script>
            var publicKeyOptions = {{ publicKeyOptions | json_encode(constant('JSON_UNESCAPED_SLASHES') b-or constant('JSON_UNESCAPED_UNICODE')) | raw }};
            var responseUrl = {{ url('verify-attestation') | json_encode | raw }};
        </script>
        {{ encore_entry_script_tags('registration') }}
    {% endblock %}

{% endblock %}

