
{% extends 'base.html.twig' %}

{% block body %}
    <h2>{{ 'registration.sub_title'|trans }}</h2>

    <form id="form"
            {{ stimulus_controller('@web-auth/webauthn-stimulus',
                {
                    creationResultUrl: path('webauthn.controller.security.main.creation.result'),
                    creationOptionsUrl: path('webauthn.controller.security.main.creation.options'),
                    creationSuccessRedirectUri: path('app_identity_registration')
                }
            ) }}
    >
        <span>{{ 'status.registration_initial'|trans }}</span>

        <input
                type="hidden"
                name="username"
                id="username"
                value="{{ name }}"
        >
        <input
                type="hidden"
                name="displayName"
                id="inputDisplayName"
                value="{{ displayName }}"
        >
        <button
                id="registerButton"
                {{ stimulus_action('@web-auth/webauthn-stimulus', 'signup') }}
                hidden
        >

        </button>
    </form>

    {% include 'partial/error_table.html.twig' with
        {
            'timestamp': 'timestamp',
            'hostname': 'hostname',
            'requestId': 'requestId',
            'errorMessage': 'errorMessage',
            'sari': 'sari',
            'userAgent': 'userAgent',
            'ipAddress': 'ipAddress',
        }
    %}

    <script>
        window.onload = function(){
            document.getElementById("registerButton").click();
        }
    </script>

    {% include 'default/variables.twig' %}

{% endblock %}
